@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Geologica';
}

::-webkit-scrollbar {
  width: 15px;
}
  
::-webkit-scrollbar-track {
  background: var(--background);
}
  
::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb {
  background: var(--middleground);
}

:root {
  --background: #151515;
  --second-background: #222222;
  --foreground: #353535;
  --middleground: #424242;
  --text: white;
  --text-head: #d6b6ff;
  --sub-text: #AAA;
}

body {
  background: linear-gradient(var(--background), #191219);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 100%;
}

th {
  font-weight: normal;
}
