@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Geologica';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
